html, body, .grid-container { 
  height: 100%; 
  margin: 0; 
  font-family: 'Lato', sans-serif;
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-size: cover;
  
   }

body {
    overflow: scroll;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo nav nav nav"
    "content content content content"
    "footer footer footer footer";
}

logo img {
   grid-area: logo;
   max-width: 80%;
   max-height: 80%;
   margin: auto;
 }
 logo {
   background-color: black;
 }

nav {
   grid-area: nav;
   background-color: black;
 }
 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:black;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 36px;
  text-decoration: none;
}

nav li a:hover {
  background-color:white;
  color:black;
}

content { 
  grid-area: content;
  padding-top: 100px;
}

content h1 {
  color: #0c9746;
  font-size: 40pt;
  text-align: center;
}

content h2, p {
  text-align: center;
  color: white;
}

content p {
text-align: center;
margin: auto;
width: 50%; 
padding-bottom: 30px;
}

content button {
  background-color: orange;
  border: black;
  border-style: solid; 
  padding: 40px;
  font-size: 20pt;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  font-family: 'Lato', sans-serif;
}

content a {
  color: black;
  text-decoration: none;
  font-size: 20pt;
}


content iframe {
  display: block;
margin: 20px auto;
}


footer { grid-area: footer;
background-color: black;
 }

footer img{
  width: 30px;
  height: 30px;
  padding: 10px;
  display:inline-block;
  margin: auto;
}

footer p,a {
  text-align: center;
  font-size: 13px;
  color: white;
}

footer a img {
  margin: auto;
}

@media screen and (max-width: 375px) {
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo"
    "nav"
    "content"
    "footer";
}

logo {
  margin:auto;
}

content p {
  font-size: 13pt;
}

nav ul a {
  font-size: 11pt;
}
}